<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RepositoryType" value="SOPB.DAL.LoadData.SQLRepository, SOPB.DAL"/>
    <add key="ArchRepositoryType" value="SOPB.DAL.LoadData.SQLArchRepository, SOPB.DAL"/>
    <add key="ServerName" value="localhost"/>
    <add key="DatabaseName" value="DispancerEmptyTest2"/>
  </appSettings>
  <connectionStrings>
    <add name="SOPB.PatientAccounting" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>